**Step 1 - Data Understanding**
- shape
- head & tail
- info
- dtypes
- describe
    
**Step 2 - Data Preparation**
- Droping irrelative Columns and Rows
- Identifying duplicated columns
- Renaming columns
- Feature creation
    
**Step 3 - Feature Understanding** (univariate analysis)
- Plotting features distributions
    - Histogram
    - KDE
    - Box plot
    
**Step 4 - Feature Relationship**
- Scatter plot
- Heatmap correlation
- Pair plot
- Groupby comparisons

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Data_Pathrise.xlsx')

## Step 1 - Data understanding

In [5]:
df.shape

(2544, 16)

In [6]:
df.columns

Index(['id', 'pathrise_status', 'primary_track', 'cohort_tag',
       'program_duration_days', 'placed', 'employment_status ',
       'highest_level_of_education', 'length_of_job_search',
       'biggest_challenge_in_search', 'professional_experience',
       'work_authorization_status', 'number_of_interviews',
       'number_of_applications', 'gender', 'race'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           2544 non-null   int64
 1   pathrise_status              2544 non-null   object
 2   primary_track                2544 non-null   object
 3   cohort_tag                   2536 non-null   object
 4   program_duration_days        1928 non-null   float64
 5   placed                       2544 non-null   int64
 6   employment_status            2315 non-null   object
 7   highest_level_of_education   2486 non-null   object
 8   length_of_job_search         2470 non-null   object
 9   biggest_challenge_in_search  2520 non-null   object
 10  professional_experience      2322 non-null   object
 11  work_authorization_status    2260 non-null   object
 12  number_of_interviews         2326 non-null   float64
 13  number_of_applications       2544 non-null   int64
 14  gender                       2052 non-null   object
 15  race                         2526 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 318.1+ KB

In [4]:
df.head()

,id,pathrise_status,primary_track,cohort_tag,program_duration_days,placed,employment_status,highest_level_of_education,length_of_job_search,biggest_challenge_in_search,professional_experience,work_authorization_status,number_of_interviews,number_of_applications,gender,race
0,1,Active,SWE,OCT19A,NaN,0,Unemployed,Bachelor's Degree,3-5 months,Hearing back on my applications,3-4 years,Canada Citizen,2.0,900,Male,Non-Hispanic White or Euro-American
1,2,Active,PSO,JAN20A,NaN,0,Unemployed,"Some College, No Degree",3-5 months,Getting past final round interviews,1-2 years,Citizen,6.0,0,Male,Non-Hispanic White or Euro-American
2,3,Closed Lost,Design,AUG19B,0.0,0,Employed Part-Time,Master's Degree,Less than one month,Figuring out which jobs to apply for,Less than one year,Citizen,0.0,0,Male,East Asian or Asian American
3,4,Closed Lost,PSO,AUG19B,0.0,0,Contractor,Bachelor's Degree,Less than one month,Getting past final round interviews,Less than one year,Citizen,5.0,25,Male,Decline to Self Identify
4,5,Placed,SWE,AUG19A,89.0,1,Unemployed,Bachelor's Degree,1-2 months,Hearing back on my applications,1-2 years,F1 Visa/OPT,10.0,100,Male,East Asian or Asian American

In [8]:
df.tail()

,id,pathrise_status,primary_track,cohort_tag,program_duration_days,placed,employment_status,highest_level_of_education,length_of_job_search,biggest_challenge_in_search,professional_experience,work_authorization_status,number_of_interviews,number_of_applications,gender,race
2539,2540,Withdrawn (Failed),Design,JUN18A,457.0,0,Contractor,Master's Degree,6 months to a year,Technical interviewing,5+ years,Citizen,4.0,15,Male,Non-Hispanic White or Euro-American
2540,2541,Withdrawn (Failed),Data,JAN19B,488.0,0,NaN,Master's Degree,3-5 months,Hearing back on my applications,1-2 years,F1 Visa/OPT,1.0,7,Male,Non-Hispanic White or Euro-American
2541,2542,Active,SWE,SEP18C,NaN,0,Contractor,Bachelor's Degree,Less than one month,Technical interviewing,1-2 years,Citizen,1.0,30,Female,Non-Hispanic White or Euro-American
2542,2543,Active,SWE,MAY18A,NaN,0,NaN,Master's Degree,Less than one month,Technical interviewing,1-2 years,Citizen,2.0,10,Male,Decline to Self Identify
2543,2544,Withdrawn,SWE,OCT19A,285.0,0,Student,Master's Degree,1-2 months,Hearing back on my applications,1-2 years,Green Card,3.0,70,Male,Non-Hispanic White or Euro-American